body{
    background-color: indigo;
    padding: 0%;
    margin: 0%;
}
header{
    background-color: skyblue;
    width: 100%;
    height: 60px;
    text-align: center;
}
nav{
    border-bottom: 3px solid black;
    position:fixed;
    border: 3px solid black;
    background-color: teal;
    width: 100%;
    height: 60px;
    text-align: center;
}
nav li{
    display: inline-block;
    list-style: none;
    height: 30px;
    line-height: 20px;
    padding: 0 40px;
}
nav li a:link{
    color: cornflowerblue;
    text-decoration: none;
}
nav li a:hover{
    background-color: crimson;
   transition: background .3s;
}
nav li a:active{
    color: darkgreen;
}
aside{
    background-color: pink;
    width: 50%;
    height: 80%;
    text-align: center;
    float: right;
}
section{
    background-color: tomato;
    width: 50%;
    height: 40%;
    text-align: center;
}
article{
    background-color: olive;
    width: 50%;
    height: 40%;
    text-align: center;
}
footer{
    background-color: silver;
    width: 100%;
    height: 50px;
    text-align: center;
}