body{
    background-color: whitesmoke;
    padding: 0%;
    margin: 0%;
}

header{
    background-color: indigo;
    width: 100%;
    height: 60px;
    text-align: center;
}

nav{
    border-bottom: none;
    position:fixed;
    border: none;
    background-color: silver;
    width: 100%;
    height: 60px;
    text-align: center;
    font-family: 'Merienda', cursive;
    line-height: 30px;
    letter-spacing: 10px;
    opacity: .9;
}

nav li{
    display: inline-block;
    list-style: upper-roman;
    height: 100px;
    line-height: 20px;
    padding: 0 40px;
}

nav li a:link{
    color: cornflowerblue;
    text-decoration: none;
}

nav li a:hover{
    background-color: whitesmoke;
   transition: background .3s;
}

section{
    background-color: pink;
    width: 100%;
    height: 400px;
    text-align: center;
}

h1{
    font-size: 100px;
    margin-top: 70px;
    letter-spacing: 15px;
    font-family: 'Merienda', cursive;
    color: whitesmoke;
}

article{
    background-color:whitesmoke;
    width: 50%;
    height: 40%;
    text-align: center;
}

footer{
    background-color: silver;
    width: 100%;
    height: 150px;
    text-align: center;
}

/*yelp*/
.fa-yelp{
    background: none;
    color: whitesmoke;

}
.fa-yelp:hover{
    background-color: pink;
    transition: 3s;
}


/*facebook*/
.fa-facebook{
    background: none;
    color: whitesmoke;
}

.fa-facebook:hover{
    background-color: pink;
    transition: 3s;
}

.fab{
    font-size: 3rem;
    margin: 10px;
}



